@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seagulls Cricket Club<br />
    Chennai<br />
    <abbr title="Phone">P:</abbr>
    +919444084391
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:keyrajan@gmail.com">keyrajan@gmail.com</a><br />
</address>